.wrap{
    margin: 0px;
    display: flex;
    flex-flow: row wrap;
}
.container{
    display: inline-block;
    width: 33%;
}

h1{
    color: blue;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}
.box{
    border: 50%;
    margin:  30px auto;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.wrap:hover .box{
    transform: scale(2);
}

.box1{
    background: rebeccapurple;
    transition: all 300ms;
}

.box2{
    background:greenyellow;
    transition: all 1s;
}

.box3{
    background: blue;
    transition: all 3s;
}